body{
	background-color:#284765;
}
#topic{
	color: #87b7de;
	padding:10px;
	margin:10px;
}

.content{
	background-color:#f8f8f8;
	padding:10px;
	padding-left: 20px;
	padding-right: 20px;
	margin:10px;
	
}

.totop{
	background-color:#f8f8f8;
	width:20;
	height:20
}


a{
	
	color: #1e70d5;
}


h1 {
	color:#ffffff;
	font-family:Arial;
	font-size:36px;
	text-align:center
}

hr{color:#e8e8e8}

h2{
	color:#000;
}

h3,h4{
	color:#505050;
}

table{
	width: 100%;
	/* border: 1; */
	/* border-collapse: separate; */
	border-spacing: 5px;
	line-height: 30px;
	color: #284765;
}

td{
	background-color: #d9e6f3;
	padding: 10px;
	
	
}

td.head{
	background-color: #87b7de;
}

ul{
	list-style-type: square;
	
}

li{
	margin: 10px;
}

nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:right;
    padding:5px;	      
}